.button {
  border-radius: 50px;
  backdrop-filter: blur(24px);
  background-color: rgba(134, 128, 128, 0.137);
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 99;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 13px 2px 13px;
  box-sizing: border-box;
  gap: 15px;
  width: max-content;
  height: 55px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.button-content {
  font-family: var(--font-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
}

.button:hover {
  display: inline-flex; 
  height: 55px;
  padding: 2px 13px;
  align-items: center; 
  gap: 10px; 
  background-color: #eb5a35;
}

.button:hover .button-content p i {
  text-decoration: underline;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #eb5a35;
  z-index: -1;
  transition: 0.5s;
  bottom: 0;
  border-radius: 70% 70% 0 0 ;
}

.button:hover::before {
  height: 100%;
}

@media screen and (max-width: 1200px){
  .button-content{
    font-size: 13px;
  }
}