.header {
  background: linear-gradient(180deg, #7ce0ff 0%, #e1efff 53.88%);
  height: 100dvh;
}

.header-title {
  margin-top: 20dvh;
  color: #0173c9;
  text-align: center;
  font-family: var(--font-black);
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 175%;
}

.cloud1 {
  width: 80%;
  position: absolute;
  left: 0;
  bottom: 40vh;
}

.cloud {
  position: absolute;
  width: 70%;
  left: 78vw;
  bottom: 40vh;
}

.elang-flores {
  position: relative;
  top: 25vh;
  left: 73vw;
  width: 29%;
}

.komodo {
  width: 130%;
  flex-shrink: 0;
  margin-top: 48.3vh;
}

.button-elang {
  position: relative;
  top: 13vh;
  left: 69.5vw;
  color: white;
}

.button-komodo {
  color: white;
  margin-top: 78vh;
  margin-left: 18vw;
}

.button-bajo {
  color: white;
  margin-top: 90vh;
  margin-left: 80vw;
}

.gradient {
  margin-top: 85.9vh;
  height: 15vh;
  background: linear-gradient(180deg, rgba(11, 117, 177, 0) 5.77%, #0b75b1 81.59%);
}

@media screen and (max-width: 1520px) {
  .cloud1 {
    left: 0;
    bottom: 35vh;
  }

  .cloud {
    left: 70vw;
    bottom: 35vh;
  }

  .button-komodo {
    margin-top: 70vh;
    margin-left: 18vw;
  }
}

@media screen and (max-width: 1200px) {
  .header-title {
    margin-top: 30vh;
    font-size: 70px;
  }

  .cloud1 {
    left: 0;
    bottom: 30vh;
  }

  .cloud {
    width: 40%;
    left: 75vw;
    bottom: 40vh;
  }

  .elang-flores {
    top: 30vh;
    left: 73vw;
    width: 25%;
  }

  .komodo {
    width: 130%;
    flex-shrink: 0;
    margin-top: 48.3vh;
  }

  .button-elang {
    position: relative;
    top: 20vh;
    left: 65.5vw;
  }

  .button-komodo {
    margin-top: 73vh;
    margin-left: 28vw;
  }

  .button-bajo {
    margin-top: 85vh;
    margin-left: 80vw;
  }

  .gradient {
    margin-top: 85.6vh;
  }
}

@media screen and (max-width: 900px) {
  .header-background {
    margin-top: -8vh;
  }

  .header-title {
    font-size: 65px;
    margin-top: 22vh;
  }

  .cloud1 {
    left: 0;
    bottom: 40vh;
  }

  .cloud {
    width: 50%;
    left: 75vw;
    bottom: 43vh;
  }

  .elang-flores {
    top: 22vh;
    left: 72vw;
    width: 23%;
  }

  .button-elang {
    position: relative;
    top: 12vh;
    left: 60.5vw;
  }

  .button-komodo {
    margin-left: 40vw;
  }

  .button-bajo {
    margin-left: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .elang-flores,
  .button-elang,
  .cloud,
  .button-bajo,
  .button-komodo,
  .cloud1 {
    display: none;
  }

  .header-background {
    margin-top: -7dvh;
  }

  .header-title {
    margin-top: 20dvh;
    font-size: 30px;
  }

  .komodo {
    width: 140%;
    flex-shrink: 0;
    margin-top: 40dvh;
  }

  .gradient {
    margin-top: 85.6dvh;
  }
}

@media screen and (max-width: 350px) {
  .header-title {
    margin-top: 20dvh;
    font-size: 25px;
  }

  .gradient {
    margin-top: 85.6dvh;
  }
}
